*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button{
    border:none;
    outline: none;
    cursor: pointer;
}

.chat-btn{
    position: fixed;
    right:  2rem;
    bottom: 2rem;
    background: #28546c;
    color: white;
    width:60px;
    height: 60px;
    border-radius: 50%;
    opacity: 0.8;
    transition: opacity 0.3s;
    transition: top ease 1s;
    box-shadow: 0 5px 5px rgba(0,0,0,0.4);
}


.chat-btn:hover, .submit:hover{
    opacity: 1;
    /*transform: translate(0, -5px);*/
    box-shadow: 0 5px 5px rgba(0.4,0.4,0.4,0.4);
}

#chat-minimize:hover{
  transform: translate(0, -3px);
}
#chat-reset:hover{
  transform: translate(0, -3px);
}



.chat-popup{
    display: none;
    position: fixed;
    bottom: 60px;
    right:120px;
    height: 500px;
    width: 400px;
    background-color: white;
    /* display: flex; */
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
    border-radius: 10px;
}

#toaster{
    position: fixed;
    bottom:5rem;
    right:6.5rem;
    height: 50px;
    width: 230px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    align-content: center;
}



.chat-area{
    height: 91%;
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: 0.5rem;
}


@media (max-width:500px){

    .chat-popup{
        bottom: 0.5rem !important;
        right:0.5rem !important;
        width: 90% !important;
    }
    .chat-btn{
    right:  0.5rem !important;
    bottom: 0.5rem !important;
    width: 50px !important;
    height: 50px !important;
    }

    #toaster{
    position: fixed !important;
    bottom:3rem !important;
    right:4rem !important;

    }
}
.card-header{
    border-top-right-radius: 8px !important;
    border-top-left-radius: 8px !important;
    background-color: #28546c !important;
}



/* Google Font CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  height: 100vh;
  background: #f2f2f2;
  overflow: hidden;
}




